---
- name: Deploy AreaDetector on a target host
  hosts: all
  become: true
  vars:     
    synApps_modules: 
      - configure
      - documentation
      - utils
    
  tasks:
      - name: include vars 
        include_vars: config.yml
      # install necessary libraries depending on the OS 
      # we are deploying on
      - include_role:
          name: CentOS
        when: ansible_os_family == 'RedHat'
        
      - include_role:
          name: Debian
        when: ansible_os_family == 'Debian'
      
      - include_role:
          name: clone
      # - name : Get sequencer, the outlier 
      # get_url  does not work, using command insteas
      - name: get sequencer
        command: "wget http://www-csr.bessy.de/control/SoftDist/sequencer/releases/seq-{{ _epics_modules.seq.version }}.tar.gz"
        args:
            chdir: "{{ deployment_dir }}/support/"
            creates: "{{ deployment_dir }}/support/seq-{{ _epics_modules.seq.version }}.tar.gz"   

      # unarchive does not work, using command instead
      - name: untar/unzip sequencer
        command: "tar -xf seq-{{ _epics_modules.seq.version }}.tar.gz"
        args:
            chdir: "{{ deployment_dir }}/support/"
            creates: "{{ deployment_dir }}/support/seq-{{ _epics_modules.seq.version }}"

      - name: rename eq-{{ _epics_modules.seq.version }} to seq
        command: "mv seq-{{ _epics_modules.seq.version }} seq"
        args:
            chdir: "{{ deployment_dir }}/support/"
            creates: seq

      - include_role:
          name: edit_RELEASEs  

      - include_role:
          name: compile     
        
#      - name: buid base Later will build all, just like install all packages
#        command: 
#              cmd: make -sj
#              chdir: "{{deployment_dir}}/epics-base" 
#            